@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #313131;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #313131;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.inputs{
  border:rgb(240, 239, 239) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.inputs:focus{
  outline: none;
  border: rgba(190, 3, 3, 0.642) 1px solid;
  transition: .5s ease;
}
.inputs-dept{
  border:rgb(197, 197, 197) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.inputs-dept:focus{
  outline: none;
  border: rgba(190, 3, 3, 0.642) 1px solid;
  transition: .5s ease;
}


.core_color{
  border: rgba(190, 3, 3, 0.755) 1px solid;
}
.core_color:hover{
  border: rgb(190, 3, 3) 1px solid;
  background: #730000dd;
  color: whitesmoke;
  transition: 0.5s ease;
}
/* globals.css */